.product-detail {
  padding: 20px;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-image img {
  max-width: 300px;
  height: auto;
}

.product-description {
  margin-left: 20px;
}

.product-price,
.product-category {
  margin-top: 10px;
  font-size: 16px;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #888;
}